p{
    cursor: pointer;
    display: inline-block;
    padding-right: 4rem;
    padding-bottom: 1rem;
}

.list-group-item{
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.delate{
    width: 20rem;
}

.complete{
    text-decoration: line-through;
}